In [4]:
# importation des biblioteques 
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime

In [5]:
df = pd.read_excel("C:\\Users\\Koffi Bekanti Grace\\OneDrive - Metrics & Decisions\\Fichiers de Ismael Traoré - Work by Bekanti\\Espace_Ismael\\Data\\DATA_uemoa-pp0.xlsx",sheet_name='DB_Modele')

In [6]:
df

,PAYS,ANNEE,P2_NFB,P2_NSB,P2_NEF,P2_NSEF,P2_NB,P2_NEF1,P2_NTBE,P2_NDG,...,P3_NCIET,P3_NTT,P3_VMJ,P3_VATTC,P3_VAMT,P3_VAMJ,P3_NTPP,P3_VATPP,P3_VP,P3_VAP
0,Bénin,2010,13,0,0,0,13,0,13,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Burkina Faso,2010,11,1,4,1,12,5,17,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Côte d'ivoire,2010,20,1,1,0,21,1,22,356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Guinée - bissau,2010,4,0,0,0,4,0,4,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mali,2010,13,0,2,1,13,3,16,205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,Guinée - bissau,2024,6,3,0,0,9,0,9,97,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Mali,2024,14,1,3,1,15,4,19,485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,Niger,2024,14,4,6,0,18,6,24,219,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Sénégal,2024,29,6,4,1,35,5,40,760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,Togo,2024,14,3,3,0,17,3,20,376,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df['PAYS'].unique()

array(['Bénin ', 'Burkina Faso', "Côte d'ivoire", 'Guinée - bissau',
       'Mali', 'Niger', 'Sénégal', 'Togo'], dtype=object)

In [8]:
df = df.copy()  # pour être sûr

df["PAYS"] = (
    df["PAYS"]
    .str.strip()
    .str.title()
    .replace({
        "Benin": "Bénin",
        "benin": "Bénin",
        "Côte D'Ivoire": "Côte d'Ivoire",
        "Guinée - Bissau": "Guinée-Bissau"
    })
)

In [9]:
df['PAYS'].unique()

array(['Bénin', 'Burkina Faso', "Côte d'Ivoire", 'Guinée-Bissau', 'Mali',
       'Niger', 'Sénégal', 'Togo'], dtype=object)

In [10]:
# Identifier les colonnes numériques (toutes sauf PAYS et ANNEE)
num_cols = [col for col in df.columns if col not in ["PAYS", "ANNEE"]]
print(num_cols)

['P2_NFB', 'P2_NSB', 'P2_NEF', 'P2_NSEF', 'P2_NB', 'P2_NEF1', 'P2_NTBE', 'P2_NDG', 'P2_NG', 'P2_EB', 'P2_EF', 'P2_EBEF', 'P2_ECEF', 'P2_ECB', 'P2_ETC', 'P2_EEF', 'P2_ETB', 'P2_ETE', 'P2_ETEC', 'P2_NCEF', 'P2_NCB', 'P2_TNC', 'P2_NCPP', 'P2_NCPM', 'P2_NCPEM', 'P2_TBDPC', 'P2_TNDPC', 'P2_PNBM', 'P2_RM', 'P2_TBM', 'P2_RM2', 'P2_DEM', 'P2_FPNM', 'P2_ARM', 'P2_EM', 'P2_CM', 'P2_AEM', 'P1_CIFSPB', 'P3_TB', 'P1_CIFSP', 'P4_SP', 'P4_P', 'P1_PH', 'P1_PUDC', 'P1_TIM', 'P1_RFPSPNB', ' P1_TCP', 'P2_CSIAI', 'P2_CSIASF', 'P2_CSISNF', 'P2_CSIM', 'P2_CSISBLM', 'P2_CSIA', 'P2_CCCEO', 'P2_CCCP', 'P2_CCCF', 'P2_CCCS2E', 'P2_CCCACR', 'P2_CCCEPSP', 'P2_CCCEI', 'P2_CCCCGV', 'P2_CCCD', 'P2_CCCPB', 'P2_COECC', 'P2_COECE', 'P2_COECT', 'P2_COECAE', 'P2_COECI', 'P2_COEA', 'P2_CSDCIFO1', 'P2_CSDCS1EIO3', 'P2_CSDCS3EIO6', 'P2_CSDCS6EIO1a', 'P2_CSDCS1aEIO2a', 'P2_CSDCS2aEIO5a', 'P2_CSDCS5aEIO10a', 'P2_CSDCP10a', 'P2_CSSJPP', 'P2_CSSJPM', 'P2_DONSIAID', 'P2_DONSIASF', 'P2_DONSISNF', 'P2_DONSIM', 'P2_DONSISBLM', 'P2_DONSIAP', 'P2_DONCCEO', 'P2_DONCCP', 'P2_DONCCCF', 'P2_DONCCS2E', 'P2_DONCCACR', 'P2_DONCCEPSP', 'P2_DONCCEI', 'P2_DONCCCGV', 'P2_DONCCD', 'P2_DONPB', 'P2_DONRSNDDT', 'P2_DONRSNDERS', 'P2_DONRSNDBC', 'P2_DONRSNDCD', 'P2_DONRSNDA', 'P2_DONIO1', 'P2_DONS1EIO3', 'P2_DONS3EIO6', 'P2_DONS6EIO1a', 'P2_DONS1aEIO2a', 'P2_DONS2aEIO5a', 'P2_DONS5aEI10a', 'P2_DONS10aOND', 'P2_DONSSJPP', 'P2_DONSSJPM', 'P3_NTCMEO', 'P3_NCMEA', 'P3_NTPS', 'P3_NCIET', 'P3_NTT', 'P3_VMJ', 'P3_VATTC', 'P3_VAMT', 'P3_VAMJ', 'P3_NTPP', 'P3_VATPP', 'P3_VP', 'P3_VAP']

In [11]:
# S'assurer que les colonnes sont bien numériques
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")
# Remplacer les NaN par la moyenne du pays + corriger le FutureWarning avec copy=False
df[num_cols] = df.groupby("PAYS")[num_cols].transform(
    lambda col: col.fillna(col.mean()).infer_objects(copy=False))

In [58]:
# Demander à l'utilisateur s'il veut filtrer par année
choix = input("Voulez-vous faire la notation par année ? (oui/non) : ").strip().lower()
if choix == "oui":
    # Demande une seule fois l'année
    annee = input("Veuillez entrer l'année pour le scoring (entre 2010 et 2024) : ").strip()
    # Vérification : entier valide et dans l'intervalle
    if annee.isdigit() and 2010 <= int(annee) <= 2024:
        annee = int(annee)  # conversion en entier
        df = df[df["ANNEE"] == annee]
        print(f"La notation sera effectuée uniquement sur l'année {annee}.")
        print("Utilisez la base de données : df")
    else:
        print(" Erreur : veuillez entrer une année valide entre 2010 et 2024.")

elif choix == "non":
    # Notation sur toute la période
    df = df[(df["ANNEE"] >= 2010) & (df["ANNEE"] <= 2024)]
    print("La notation sera effectuée sur toute la période 2010 à 2024.")
    print("Utilisez la base de données : df")

else:
    print("Réponse invalide. Veuillez répondre par 'oui' ou 'non'.")

Voulez-vous faire la notation par année ? (oui/non) :  OUI
Veuillez entrer l'année pour le scoring (entre 2010 et 2024) :  2015

La notation sera effectuée uniquement sur l'année 2015.
Utilisez la base de données : df

In [59]:
DIMENSIONS = {
    "Macroéconomie": [c for c in df.columns if c.startswith("P1_")], 
    "Système financier": [c for c in df.columns if c.startswith("P2_")],
    "Inclusion financière et numérique": [c for c in df.columns if c.startswith("P3_")],
    "Démographie et développement": [c for c in df.columns if c.startswith("P4_")],
}

In [60]:
# Colonnes d'identification
ID_COLS = ["PAYS", "ANNEE"]
# Création des DataFrames par nom de dimension
df_Macroéconomie = df[ID_COLS + [c for c in df.columns if c.startswith("P1_")]]
df_Système_financier = df[ID_COLS + [c for c in df.columns if c.startswith("P2_")]]
df_Inclusion_financière_numérique = df[ID_COLS + [c for c in df.columns if c.startswith("P3_")]]
df_Démographie_développement = df[ID_COLS + [c for c in df.columns if c.startswith("P4_")]]

In [61]:
# Afficher chaque DataFrame pour vérification
display(df_Macroéconomie.head())
display(df_Système_financier.head())
display(df_Inclusion_financière_numérique.head())
display(df_Démographie_développement.head())

,PAYS,ANNEE,P1_CIFSPB,P1_CIFSP,P1_PH,P1_PUDC,P1_TIM,P1_RFPSPNB
40,Bénin,2015,16.641874,16.735706,5.926418e+05,6.732814e+12,0.3,14.825
41,Burkina Faso,2015,24.986758,25.037771,3.725371e+05,6.995311e+12,0.9,27.155
42,Côte d'Ivoire,2015,16.648879,16.741712,1.072883e+06,2.708637e+13,1.2,30.382
43,Guinée-Bissau,2015,7.366290,7.779956,3.813711e+05,6.813030e+11,1.5,27.980
44,Mali,2015,24.929839,24.991637,4.166988e+05,7.747690e+12,1.4,23.356

,PAYS,ANNEE,P2_NFB,P2_NSB,P2_NEF,P2_NSEF,P2_NB,P2_NEF1,P2_NTBE,P2_NDG,...,P2_DONIO1,P2_DONS1EIO3,P2_DONS3EIO6,P2_DONS6EIO1a,P2_DONS1aEIO2a,P2_DONS2aEIO5a,P2_DONS5aEI10a,P2_DONS10aOND,P2_DONSSJPP,P2_DONSSJPM
40,Bénin,2015,13,2,0,0,15,0,15,277.0,...,9.2,33.2,46.3,67.7,60.7,144.8,73.9,8.7,0.0,0.0
41,Burkina Faso,2015,11,2,3,1,13,4,17,341.0,...,631.8,258.9,331.0,182.4,117.4,140.5,15.6,22.0,0.0,0.0
42,Côte d'Ivoire,2015,23,3,1,1,26,2,28,896.0,...,363.8,410.5,253.7,259.5,114.6,182.5,0.0,75.5,0.0,0.0
43,Guinée-Bissau,2015,3,2,0,0,5,0,5,42.0,...,24.4,23.4,8.4,3.6,2.1,0.2,0.0,0.0,0.0,0.0
44,Mali,2015,13,1,2,1,14,3,17,405.0,...,4.0,122.2,73.1,98.9,37.8,60.5,14.5,0.0,0.0,0.0

,PAYS,ANNEE,P3_TB,P3_NTCMEO,P3_NCMEA,P3_NTPS,P3_NCIET,P3_NTT,P3_VMJ,P3_VATTC,P3_VAMT,P3_VAMJ,P3_NTPP,P3_VATPP,P3_VP,P3_VAP
40,Bénin,2015,0.095848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,Burkina Faso,2015,0.076832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,Côte d'Ivoire,2015,0.108303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,Guinée-Bissau,2015,0.056031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,Mali,2015,0.071752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

             PAYS  ANNEE    P4_SP      P4_P
40          Bénin   2015   112622  10575952
41   Burkina Faso   2015   274200  18110624
42  Côte d'Ivoire   2015   322462  23226143
43  Guinée-Bissau   2015    36125   1737202
44           Mali   2015  1240192  17438778

In [62]:
# standardisation des données de chaque dataframe entre 0 et 1
# dataframe Macroéconomie
# Colonnes numériques 
cols_num = [c for c in df_Macroéconomie.columns if c not in ["PAYS", "ANNEE"]]
df_macro_numeric = df_Macroéconomie[cols_num]
# Standardisation entre 0 et 1
scaler = MinMaxScaler(feature_range=(0, 1))
df_macro_scaled = pd.DataFrame(scaler.fit_transform(df_macro_numeric), columns=cols_num)

In [63]:
# standardisation des données de chaque dataframe entre 0 et 1
# dataframe Macroéconomie
# Colonnes numériques 
cols_num = [c for c in df_Système_financier.columns if c not in ["PAYS", "ANNEE"]]
df_finance_numeric = df_Système_financier[cols_num]
# Standardisation entre 0 et 1
scaler = MinMaxScaler(feature_range=(0, 1))
df_finance_scaled = pd.DataFrame(scaler.fit_transform(df_finance_numeric), columns=cols_num)

In [64]:
# standardisation des données de chaque dataframe entre 0 et 1
# dataframe Macroéconomie
# Colonnes numériques 
cols_num = [c for c in df_Inclusion_financière_numérique.columns if c not in ["PAYS", "ANNEE"]]
df_inclusion_numeric = df_Inclusion_financière_numérique[cols_num]
# Standardisation entre 0 et 1
scaler = MinMaxScaler(feature_range=(0, 1))
df_inclusion_scaled = pd.DataFrame(scaler.fit_transform(df_inclusion_numeric), columns=cols_num)

In [65]:
# standardisation des données de chaque dataframe entre 0 et 1
# dataframe Macroéconomie
# Colonnes numériques 
cols_num = [c for c in df_Démographie_développement.columns if c not in ["PAYS", "ANNEE"]]
df_demo_numeric = df_Démographie_développement[cols_num]
# Standardisation entre 0 et 1
scaler = MinMaxScaler(feature_range=(0, 1))
df_demo_scaled = pd.DataFrame(scaler.fit_transform(df_demo_numeric), columns=cols_num)

In [66]:
# Afficher chaque DataFrame pour vérification
display(df_macro_numeric.head())
display(df_finance_numeric.head())
display(df_inclusion_numeric.head())
display(df_demo_numeric.head())

    P1_CIFSPB   P1_CIFSP         P1_PH       P1_PUDC  P1_TIM  P1_RFPSPNB
40  16.641874  16.735706  5.926418e+05  6.732814e+12     0.3      14.825
41  24.986758  25.037771  3.725371e+05  6.995311e+12     0.9      27.155
42  16.648879  16.741712  1.072883e+06  2.708637e+13     1.2      30.382
43   7.366290   7.779956  3.813711e+05  6.813030e+11     1.5      27.980
44  24.929839  24.991637  4.166988e+05  7.747690e+12     1.4      23.356

,P2_NFB,P2_NSB,P2_NEF,P2_NSEF,P2_NB,P2_NEF1,P2_NTBE,P2_NDG,P2_NG,P2_EB,...,P2_DONIO1,P2_DONS1EIO3,P2_DONS3EIO6,P2_DONS6EIO1a,P2_DONS1aEIO2a,P2_DONS2aEIO5a,P2_DONS5aEI10a,P2_DONS10aOND,P2_DONSSJPP,P2_DONSSJPM
40,13,2,0,0,15,0,15,277.0,205,2644,...,9.2,33.2,46.3,67.7,60.7,144.8,73.9,8.7,0.0,0.0
41,11,2,3,1,13,4,17,341.0,280,2920,...,631.8,258.9,331.0,182.4,117.4,140.5,15.6,22.0,0.0,0.0
42,23,3,1,1,26,2,28,896.0,635,7598,...,363.8,410.5,253.7,259.5,114.6,182.5,0.0,75.5,0.0,0.0
43,3,2,0,0,5,0,5,42.0,27,423,...,24.4,23.4,8.4,3.6,2.1,0.2,0.0,0.0,0.0,0.0
44,13,1,2,1,14,3,17,405.0,533,3107,...,4.0,122.2,73.1,98.9,37.8,60.5,14.5,0.0,0.0,0.0

,P3_TB,P3_NTCMEO,P3_NCMEA,P3_NTPS,P3_NCIET,P3_NTT,P3_VMJ,P3_VATTC,P3_VAMT,P3_VAMJ,P3_NTPP,P3_VATPP,P3_VP,P3_VAP
40,0.095848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0.076832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42,0.108303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,0.056031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44,0.071752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

      P4_SP      P4_P
40   112622  10575952
41   274200  18110624
42   322462  23226143
43    36125   1737202
44  1240192  17438778

In [67]:
# Afficher chaque DataFrame pour vérification
display(df_macro_scaled.head())
display(df_finance_scaled.head())
display(df_inclusion_scaled.head())
display(df_demo_scaled.head())

   P1_CIFSPB  P1_CIFSP     P1_PH   P1_PUDC  P1_TIM  P1_RFPSPNB
0   0.426837  0.418588  0.388815  0.229180  0.0625    0.000000
1   0.810846  0.806623  0.108695  0.239121  0.4375    0.792569
2   0.427159  0.418868  1.000000  1.000000  0.6250    1.000000
3   0.000000  0.000000  0.119938  0.000000  0.8125    0.845600
4   0.808227  0.804466  0.164898  0.267615  0.7500    0.548371

,P2_NFB,P2_NSB,P2_NEF,P2_NSEF,P2_NB,P2_NEF1,P2_NTBE,P2_NDG,P2_NG,P2_EB,...,P2_DONIO1,P2_DONS1EIO3,P2_DONS3EIO6,P2_DONS6EIO1a,P2_DONS1aEIO2a,P2_DONS2aEIO5a,P2_DONS5aEI10a,P2_DONS10aOND,P2_DONSSJPP,P2_DONSSJPM
0,0.5,0.333333,0.000000,0.0,0.476190,0.00,0.434783,0.275176,0.292763,0.309547,...,0.008283,0.025316,0.117483,0.250488,0.508239,0.712666,0.299676,0.115232,0.0,0.0
1,0.4,0.333333,1.000000,1.0,0.380952,1.00,0.521739,0.350117,0.416118,0.348014,...,1.000000,0.608370,1.000000,0.698710,1.000000,0.691474,0.063260,0.291391,0.0,0.0
2,1.0,0.666667,0.333333,1.0,1.000000,0.50,1.000000,1.000000,1.000000,1.000000,...,0.573112,1.000000,0.760384,1.000000,0.975716,0.898472,0.000000,1.000000,0.0,0.0
3,0.0,0.333333,0.000000,0.0,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.032494,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.5,0.000000,0.666667,1.0,0.428571,0.75,0.521739,0.425059,0.832237,0.374077,...,0.000000,0.255231,0.200558,0.372411,0.309627,0.297191,0.058800,0.000000,0.0,0.0

,P3_TB,P3_NTCMEO,P3_NCMEA,P3_NTPS,P3_NCIET,P3_NTT,P3_VMJ,P3_VATTC,P3_VAMT,P3_VAMJ,P3_NTPP,P3_VATPP,P3_VP,P3_VAP
0,0.850744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.622860,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.373598,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.561986,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

      P4_SP      P4_P
0  0.062148  0.411316
1  0.193419  0.761946
2  0.232629  1.000000
3  0.000000  0.000000
4  0.978220  0.730682

In [68]:
# Application de l'ACP pour réduction de dimension
pca1 = PCA()
X_pca = pca1.fit_transform(df_macro_scaled)
X_pca_macro_df = pd.DataFrame(X_pca, columns=[f"PC{i+1}" for i in range(X_pca.shape[1])])

In [69]:
# Application de l'ACP pour réduction de dimension
pca2 = PCA()
X_pca = pca2.fit_transform(df_finance_scaled)
X_pca_finance_df = pd.DataFrame(X_pca, columns=[f"PC{i+1}" for i in range(X_pca.shape[1])])

In [70]:
# Application de l'ACP pour réduction de dimension
pca3 = PCA()
X_pca = pca3.fit_transform(df_inclusion_scaled)
X_pca_inclusion_df = pd.DataFrame(X_pca, columns=[f"PC{i+1}" for i in range(X_pca.shape[1])])

In [71]:
# Application de l'ACP pour réduction de dimension
pca4 = PCA()
X_pca = pca4.fit_transform(df_demo_scaled)
X_pca_demo_df = pd.DataFrame(X_pca, columns=[f"PC{i+1}" for i in range(X_pca.shape[1])])

In [72]:
display(X_pca_macro_df.head())
display(X_pca_finance_df.head())
display(X_pca_inclusion_df.head())
display(X_pca_demo_df.head())

        PC1       PC2       PC3       PC4       PC5       PC6
0 -0.060903 -0.079550 -0.759691 -0.306710  0.002629 -0.000338
1  0.288813 -0.149084  0.059420  0.278495  0.072244 -0.001121
2 -0.105022  1.005707  0.283029 -0.177895  0.025649  0.000005
3 -0.892190 -0.213333  0.191299  0.051945 -0.130835 -0.000819
4  0.291797 -0.247624  0.195395 -0.086214  0.079361 -0.001139

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8
0,-1.102584,-1.123584,0.441198,-0.274709,1.310178,-0.485467,0.006314,3.408208e-16
1,1.071932,2.033980,0.108789,0.986182,0.151478,-0.659896,0.056474,3.408208e-16
2,4.501267,-0.633260,-1.489096,-0.379722,-0.046822,-0.041700,-0.046218,3.408208e-16
3,-3.327006,-0.285112,-0.659288,0.051279,-0.617518,-0.347934,-0.467327,3.408208e-16
4,-0.205690,-0.571134,0.082819,1.470705,0.171428,0.983197,-0.019274,3.408208e-16

        PC1  PC2  PC3  PC4  PC5  PC6  PC7  PC8
0  0.199096  0.0  0.0  0.0  0.0  0.0  0.0 -0.0
1 -0.028788  0.0 -0.0 -0.0 -0.0  0.0  0.0 -0.0
2  0.348352  0.0  0.0  0.0  0.0 -0.0 -0.0  0.0
3 -0.278050  0.0  0.0 -0.0 -0.0  0.0  0.0 -0.0
4 -0.089662  0.0 -0.0  0.0 -0.0  0.0  0.0 -0.0

        PC1       PC2
0 -0.311668  0.010824
1 -0.006932  0.228333
2  0.158560  0.403887
3 -0.592966 -0.295631
4  0.626563 -0.235967

In [73]:
# Détermination du nombre de composantes pour atteindre 80% de variance expliquée
explained_variance1 = np.cumsum(pca1.explained_variance_ratio_)
n_components1 = np.argmax(explained_variance1 >= 0.80) + 1
print(f"Nombre de composantes à retenir : {n_components1}")

Nombre de composantes à retenir : 3

In [74]:
# Détermination du nombre de composantes pour atteindre 80% de variance expliquée
explained_variance2 = np.cumsum(pca2.explained_variance_ratio_)
n_components2 = np.argmax(explained_variance2 >= 0.80) + 1
print(f"Nombre de composantes à retenir : {n_components2}")

Nombre de composantes à retenir : 3

In [75]:
# Détermination du nombre de composantes pour atteindre 80% de variance expliquée
explained_variance3 = np.cumsum(pca3.explained_variance_ratio_)
n_components3 = np.argmax(explained_variance3 >= 0.80) + 1
print(f"Nombre de composantes à retenir : {n_components3}")

Nombre de composantes à retenir : 1

In [76]:
# Détermination du nombre de composantes pour atteindre 80% de variance expliquée
explained_variance4 = np.cumsum(pca4.explained_variance_ratio_)
n_components4 = np.argmax(explained_variance4 >= 0.80) + 1
print(f"Nombre de composantes à retenir : {n_components4}")

Nombre de composantes à retenir : 2

In [77]:
# ACP FINALE
pca_final1 = PCA(n_components=n_components1)
X_pca_final1 = pca_final1.fit_transform(df_macro_scaled)
X_pca_final_df1 = pd.DataFrame(X_pca_final1, columns=[f"PC{i+1}" for i in range(n_components1)])
X_pca_final_df1

        PC1       PC2       PC3
0 -0.060903 -0.079550 -0.759691
1  0.288813 -0.149084  0.059420
2 -0.105022  1.005707  0.283029
3 -0.892190 -0.213333  0.191299
4  0.291797 -0.247624  0.195395
5 -0.609236 -0.165424 -0.060053
6  0.552334  0.307042 -0.281764
7  0.534408 -0.457734  0.372367

In [78]:
# Sélection automatique des colonnes PC*
colonnes_pc = [col for col in X_pca_final_df1.columns if col.startswith("PC")]
# Calcul du Score Global par moyenne simple
X_pca_final_df1["PC1_Global"] = X_pca_final_df1[colonnes_pc].mean(axis=1)
X_pca_final_df1

        PC1       PC2       PC3  PC1_Global
0 -0.060903 -0.079550 -0.759691   -0.300048
1  0.288813 -0.149084  0.059420    0.066383
2 -0.105022  1.005707  0.283029    0.394571
3 -0.892190 -0.213333  0.191299   -0.304741
4  0.291797 -0.247624  0.195395    0.079856
5 -0.609236 -0.165424 -0.060053   -0.278238
6  0.552334  0.307042 -0.281764    0.192538
7  0.534408 -0.457734  0.372367    0.149680

In [79]:
# Fusion avec les colonnes PAYS, ANNEE et ajout de la dimension
df_resultat1 = pd.concat([
    df_Macroéconomie[["PAYS", "ANNEE"]].reset_index(drop=True),
    X_pca_final_df1[["PC1_Global"]].reset_index(drop=True)
], axis=1)
df_resultat1["Dimension1"] = "Macroéconomie"
df_resultat1

            PAYS  ANNEE  PC1_Global     Dimension1
0          Bénin   2015   -0.300048  Macroéconomie
1   Burkina Faso   2015    0.066383  Macroéconomie
2  Côte d'Ivoire   2015    0.394571  Macroéconomie
3  Guinée-Bissau   2015   -0.304741  Macroéconomie
4           Mali   2015    0.079856  Macroéconomie
5          Niger   2015   -0.278238  Macroéconomie
6        Sénégal   2015    0.192538  Macroéconomie
7           Togo   2015    0.149680  Macroéconomie

In [80]:
# ACP FINALE
pca_final2 = PCA(n_components=n_components2)
X_pca_final2 = pca_final2.fit_transform(df_finance_scaled)
X_pca_final_df2 = pd.DataFrame(X_pca_final2, columns=[f"PC{i+1}" for i in range(n_components2)])
X_pca_final_df2

        PC1       PC2       PC3
0 -1.102584 -1.123584  0.441198
1  1.071932  2.033980  0.108789
2  4.501267 -0.633260 -1.489096
3 -3.327006 -0.285112 -0.659288
4 -0.205690 -0.571134  0.082819
5 -2.140734 -0.419783 -0.389743
6  2.142353 -0.517493  1.898843
7 -0.939538  1.516385  0.006478

In [81]:
# Sélection automatique des colonnes PC*
colonnes_pc = [col for col in X_pca_final_df2.columns if col.startswith("PC")]
# Calcul du Score Global par moyenne simple
X_pca_final_df2["PC2_Global"] = X_pca_final_df2[colonnes_pc].mean(axis=1)
X_pca_final_df2

        PC1       PC2       PC3  PC2_Global
0 -1.102584 -1.123584  0.441198   -0.594990
1  1.071932  2.033980  0.108789    1.071567
2  4.501267 -0.633260 -1.489096    0.792970
3 -3.327006 -0.285112 -0.659288   -1.423802
4 -0.205690 -0.571134  0.082819   -0.231335
5 -2.140734 -0.419783 -0.389743   -0.983420
6  2.142353 -0.517493  1.898843    1.174568
7 -0.939538  1.516385  0.006478    0.194442

In [82]:
df_resultat2 = pd.concat([
    df_Système_financier[["PAYS", "ANNEE"]].reset_index(drop=True),
    X_pca_final_df2[["PC2_Global"]].reset_index(drop=True)
], axis=1)
df_resultat2["Dimension2"] = "Système financier"
df_resultat2

            PAYS  ANNEE  PC2_Global         Dimension2
0          Bénin   2015   -0.594990  Système financier
1   Burkina Faso   2015    1.071567  Système financier
2  Côte d'Ivoire   2015    0.792970  Système financier
3  Guinée-Bissau   2015   -1.423802  Système financier
4           Mali   2015   -0.231335  Système financier
5          Niger   2015   -0.983420  Système financier
6        Sénégal   2015    1.174568  Système financier
7           Togo   2015    0.194442  Système financier

In [83]:
# ACP FINALE
pca_final3 = PCA(n_components=n_components3)
X_pca_final = pca_final3.fit_transform(df_inclusion_scaled)
X_pca_final_df3 = pd.DataFrame(X_pca_final, columns=[f"PC{i+1}" for i in range(n_components3)])
X_pca_final_df3

        PC1
0  0.199096
1 -0.028788
2  0.348352
3 -0.278050
4 -0.089662
5 -0.651648
6  0.170282
7  0.330417

In [84]:
# Sélection automatique des colonnes PC*
colonnes_pc = [col for col in X_pca_final_df3.columns if col.startswith("PC")]
# Calcul du Score Global par moyenne simple
X_pca_final_df3["PC3_Global"] = X_pca_final_df3[colonnes_pc].mean(axis=1)
X_pca_final_df3

        PC1  PC3_Global
0  0.199096    0.199096
1 -0.028788   -0.028788
2  0.348352    0.348352
3 -0.278050   -0.278050
4 -0.089662   -0.089662
5 -0.651648   -0.651648
6  0.170282    0.170282
7  0.330417    0.330417

In [85]:
# Fusion avec les colonnes PAYS, ANNEE et ajout de la dimension
df_resultat3 = pd.concat([
    df_Inclusion_financière_numérique[["PAYS", "ANNEE"]].reset_index(drop=True),
    X_pca_final_df3[["PC3_Global"]].reset_index(drop=True)
], axis=1)
df_resultat3["Dimension3"] = "Inclusion financière et numérique"
df_resultat3

            PAYS  ANNEE  PC3_Global                         Dimension3
0          Bénin   2015    0.199096  Inclusion financière et numérique
1   Burkina Faso   2015   -0.028788  Inclusion financière et numérique
2  Côte d'Ivoire   2015    0.348352  Inclusion financière et numérique
3  Guinée-Bissau   2015   -0.278050  Inclusion financière et numérique
4           Mali   2015   -0.089662  Inclusion financière et numérique
5          Niger   2015   -0.651648  Inclusion financière et numérique
6        Sénégal   2015    0.170282  Inclusion financière et numérique
7           Togo   2015    0.330417  Inclusion financière et numérique

In [86]:
# ACP FINALE
pca_final4 = PCA(n_components=n_components4)
X_pca_final = pca_final4.fit_transform(df_demo_scaled)
X_pca_final_df4 = pd.DataFrame(X_pca_final, columns=[f"PC{i+1}" for i in range(n_components4)])
X_pca_final_df4

        PC1       PC2
0 -0.311668  0.010824
1 -0.006932  0.228333
2  0.158560  0.403887
3 -0.592966 -0.295631
4  0.626563 -0.235967
5  0.711246 -0.149207
6 -0.150956  0.127153
7 -0.433846 -0.089392

In [87]:
# Sélection automatique des colonnes PC*
colonnes_pc = [col for col in X_pca_final_df4.columns if col.startswith("PC")]
# Calcul du Score Global par moyenne simple
X_pca_final_df4["PC4_Global"] = X_pca_final_df4[colonnes_pc].mean(axis=1)
X_pca_final_df4

        PC1       PC2  PC4_Global
0 -0.311668  0.010824   -0.150422
1 -0.006932  0.228333    0.110700
2  0.158560  0.403887    0.281223
3 -0.592966 -0.295631   -0.444299
4  0.626563 -0.235967    0.195298
5  0.711246 -0.149207    0.281020
6 -0.150956  0.127153   -0.011901
7 -0.433846 -0.089392   -0.261619

In [88]:
# Fusion avec les colonnes PAYS, ANNEE et ajout de la dimension
df_resultat4 = pd.concat([
    df_Démographie_développement[["PAYS", "ANNEE"]].reset_index(drop=True),
    X_pca_final_df4[["PC4_Global"]].reset_index(drop=True)
], axis=1)
df_resultat4["Dimension4"] = "Démographie et développement"
df_resultat4

            PAYS  ANNEE  PC4_Global                    Dimension4
0          Bénin   2015   -0.150422  Démographie et développement
1   Burkina Faso   2015    0.110700  Démographie et développement
2  Côte d'Ivoire   2015    0.281223  Démographie et développement
3  Guinée-Bissau   2015   -0.444299  Démographie et développement
4           Mali   2015    0.195298  Démographie et développement
5          Niger   2015    0.281020  Démographie et développement
6        Sénégal   2015   -0.011901  Démographie et développement
7           Togo   2015   -0.261619  Démographie et développement

In [89]:

# RENOMMAGE DES COLONNES DE SCORE POUR UNIFORMISER
df_resultat1 = df_resultat1.rename(columns={"PC1_Global": "Macroéconomie"})
df_resultat2 = df_resultat2.rename(columns={"PC2_Global": "Système financier"})
df_resultat3 = df_resultat3.rename(columns={"PC3_Global": "Inclusion financière et numérique"})
df_resultat4 = df_resultat4.rename(columns={"PC4_Global": "Démographie et développement"})

# FUSION DES BASES PAR DIMENSION
df_merge = pd.merge(df_resultat1, df_resultat2, on=["PAYS", "ANNEE"], how="outer")
df_merge = pd.merge(df_merge, df_resultat3, on=["PAYS", "ANNEE"], how="outer")
df_merge = pd.merge(df_merge, df_resultat4, on=["PAYS", "ANNEE"], how="outer")

# TRANSFORMATION EN FORMAT LONG
df_final = pd.melt(df_merge, id_vars=["PAYS", "ANNEE"], 
                   value_vars=["Macroéconomie", "Système financier", "Inclusion financière et numérique", "Démographie et développement"],
                   var_name="Dimension", value_name="PC_Score")
df_final

             PAYS  ANNEE                          Dimension  PC_Score
0    Burkina Faso   2015                      Macroéconomie  0.066383
1           Bénin   2015                      Macroéconomie -0.300048
2   Côte d'Ivoire   2015                      Macroéconomie  0.394571
3   Guinée-Bissau   2015                      Macroéconomie -0.304741
4            Mali   2015                      Macroéconomie  0.079856
5           Niger   2015                      Macroéconomie -0.278238
6         Sénégal   2015                      Macroéconomie  0.192538
7            Togo   2015                      Macroéconomie  0.149680
8    Burkina Faso   2015                  Système financier  1.071567
9           Bénin   2015                  Système financier -0.594990
10  Côte d'Ivoire   2015                  Système financier  0.792970
11  Guinée-Bissau   2015                  Système financier -1.423802
12           Mali   2015                  Système financier -0.231335
13          Niger   2015                  Système financier -0.983420
14        Sénégal   2015                  Système financier  1.174568
15           Togo   2015                  Système financier  0.194442
16   Burkina Faso   2015  Inclusion financière et numérique -0.028788
17          Bénin   2015  Inclusion financière et numérique  0.199096
18  Côte d'Ivoire   2015  Inclusion financière et numérique  0.348352
19  Guinée-Bissau   2015  Inclusion financière et numérique -0.278050
20           Mali   2015  Inclusion financière et numérique -0.089662
21          Niger   2015  Inclusion financière et numérique -0.651648
22        Sénégal   2015  Inclusion financière et numérique  0.170282
23           Togo   2015  Inclusion financière et numérique  0.330417
24   Burkina Faso   2015       Démographie et développement  0.110700
25          Bénin   2015       Démographie et développement -0.150422
26  Côte d'Ivoire   2015       Démographie et développement  0.281223
27  Guinée-Bissau   2015       Démographie et développement -0.444299
28           Mali   2015       Démographie et développement  0.195298
29          Niger   2015       Démographie et développement  0.281020
30        Sénégal   2015       Démographie et développement -0.011901
31           Togo   2015       Démographie et développement -0.261619

In [90]:
# COMPTAGE DES VARIABLES PAR DIMENSION
compte_dimensions = {nom: len(colonnes) for nom, colonnes in DIMENSIONS.items()}

# CONVERSION EN DATAFRAME POUR AFFICHAGE
df_compte = pd.DataFrame(list(compte_dimensions.items()), columns=["Dimension", "Nombre_de_variables"])
df_compte

                           Dimension  Nombre_de_variables
0                      Macroéconomie                    6
1                  Système financier                  100
2  Inclusion financière et numérique                   14
3       Démographie et développement                    2

In [91]:
# PONDÉRATIONS
reponse = input("Voulez-vous entrer vos propres pondérations pour les dimensions ? (oui/non) ").strip().lower()
if reponse == "oui":
    poids_macro = float(input("Pondération pour Macroéconomie = "))
    poids_financier = float(input("Pondération pour Système financier = "))
    poids_Inclusion = float(input("Pondération pour Inclusion financière et numérique = "))
    poids_demo = float(input("Pondération pour Démographie et développement = "))
else:
    #determination automatique 
    poids_macro = poids_financier = poids_Inclusion = poids_demo = 1*100/len(df_compte.Dimension.unique())

Voulez-vous entrer vos propres pondérations pour les dimensions ? (oui/non)  NON

In [92]:
# CALCUL DU SCORE PONDÉRÉ
df_final ['Pondération'] = df_final ['Dimension'].map({
    'Macroéconomie': poids_macro,
    "Système financier": poids_financier,
    'Inclusion financière et numérique': poids_Inclusion,
    'Démographie et développement': poids_demo
})
df_final ['Score_dimension'] = df_final ['PC_Score'] * (df_final ['Pondération']/ 100)

In [93]:
df_final

,PAYS,ANNEE,Dimension,PC_Score,Pondération,Score_dimension
0,Burkina Faso,2015,Macroéconomie,0.066383,25.0,0.016596
1,Bénin,2015,Macroéconomie,-0.300048,25.0,-0.075012
2,Côte d'Ivoire,2015,Macroéconomie,0.394571,25.0,0.098643
3,Guinée-Bissau,2015,Macroéconomie,-0.304741,25.0,-0.076185
4,Mali,2015,Macroéconomie,0.079856,25.0,0.019964
5,Niger,2015,Macroéconomie,-0.278238,25.0,-0.069560
6,Sénégal,2015,Macroéconomie,0.192538,25.0,0.048134
7,Togo,2015,Macroéconomie,0.149680,25.0,0.037420
8,Burkina Faso,2015,Système financier,1.071567,25.0,0.267892
9,Bénin,2015,Système financier,-0.594990,25.0,-0.148748
10,Côte d'Ivoire,2015,Système financier,0.792970,25.0,0.198243
11,Guinée-Bissau,2015,Système financier,-1.423802,25.0,-0.355951
12,Mali,2015,Système financier,-0.231335,25.0,-0.057834
13,Niger,2015,Système financier,-0.983420,25.0,-0.245855
14,Sénégal,2015,Système financier,1.174568,25.0,0.293642
15,Togo,2015,Système financier,0.194442,25.0,0.048610
16,Burkina Faso,2015,Inclusion financière et numérique,-0.028788,25.0,-0.007197
17,Bénin,2015,Inclusion financière et numérique,0.199096,25.0,0.049774
18,Côte d'Ivoire,2015,Inclusion financière et numérique,0.348352,25.0,0.087088
19,Guinée-Bissau,2015,Inclusion financière et numérique,-0.278050,25.0,-0.069512
20,Mali,2015,Inclusion financière et numérique,-0.089662,25.0,-0.022416
21,Niger,2015,Inclusion financière et numérique,-0.651648,25.0,-0.162912
22,Sénégal,2015,Inclusion financière et numérique,0.170282,25.0,0.042571
23,Togo,2015,Inclusion financière et numérique,0.330417,25.0,0.082604
24,Burkina Faso,2015,Démographie et développement,0.110700,25.0,0.027675
25,Bénin,2015,Démographie et développement,-0.150422,25.0,-0.037605
26,Côte d'Ivoire,2015,Démographie et développement,0.281223,25.0,0.070306
27,Guinée-Bissau,2015,Démographie et développement,-0.444299,25.0,-0.111075
28,Mali,2015,Démographie et développement,0.195298,25.0,0.048824
29,Niger,2015,Démographie et développement,0.281020,25.0,0.070255
30,Sénégal,2015,Démographie et développement,-0.011901,25.0,-0.002975
31,Togo,2015,Démographie et développement,-0.261619,25.0,-0.065405

In [94]:
min_score = df_final['Score_dimension'].min()
max_score = df_final['Score_dimension'].max()
df_final['score_normalise'] = 0+ ((df_final['Score_dimension'] - min_score) / (max_score - min_score)) * 100

In [95]:
df_final.head(50)

,PAYS,ANNEE,Dimension,PC_Score,Pondération,Score_dimension,score_normalise
0,Burkina Faso,2015,Macroéconomie,0.066383,25.0,0.016596,57.350768
1,Bénin,2015,Macroéconomie,-0.300048,25.0,-0.075012,43.248419
2,Côte d'Ivoire,2015,Macroéconomie,0.394571,25.0,0.098643,69.981311
3,Guinée-Bissau,2015,Macroéconomie,-0.304741,25.0,-0.076185,43.067798
4,Mali,2015,Macroéconomie,0.079856,25.0,0.019964,57.869286
5,Niger,2015,Macroéconomie,-0.278238,25.0,-0.069560,44.087800
6,Sénégal,2015,Macroéconomie,0.192538,25.0,0.048134,62.205913
7,Togo,2015,Macroéconomie,0.149680,25.0,0.037420,60.556520
8,Burkina Faso,2015,Système financier,1.071567,25.0,0.267892,96.035953
9,Bénin,2015,Système financier,-0.594990,25.0,-0.148748,31.897383
10,Côte d'Ivoire,2015,Système financier,0.792970,25.0,0.198243,85.313975
11,Guinée-Bissau,2015,Système financier,-1.423802,25.0,-0.355951,0.000000
12,Mali,2015,Système financier,-0.231335,25.0,-0.057834,45.892887
13,Niger,2015,Système financier,-0.983420,25.0,-0.245855,16.948412
14,Sénégal,2015,Système financier,1.174568,25.0,0.293642,100.000000
15,Togo,2015,Système financier,0.194442,25.0,0.048610,62.279205
16,Burkina Faso,2015,Inclusion financière et numérique,-0.028788,25.0,-0.007197,53.688055
17,Bénin,2015,Inclusion financière et numérique,0.199096,25.0,0.049774,62.458325
18,Côte d'Ivoire,2015,Inclusion financière et numérique,0.348352,25.0,0.087088,68.202537
19,Guinée-Bissau,2015,Inclusion financière et numérique,-0.278050,25.0,-0.069512,44.095044
20,Mali,2015,Inclusion financière et numérique,-0.089662,25.0,-0.022416,51.345267
21,Niger,2015,Inclusion financière et numérique,-0.651648,25.0,-0.162912,29.716870
22,Sénégal,2015,Inclusion financière et numérique,0.170282,25.0,0.042571,61.349407
23,Togo,2015,Inclusion financière et numérique,0.330417,25.0,0.082604,67.512310
24,Burkina Faso,2015,Démographie et développement,0.110700,25.0,0.027675,59.056346
25,Bénin,2015,Démographie et développement,-0.150422,25.0,-0.037605,49.006894
26,Côte d'Ivoire,2015,Démographie et développement,0.281223,25.0,0.070306,65.619042
27,Guinée-Bissau,2015,Démographie et développement,-0.444299,25.0,-0.111075,37.696852
28,Mali,2015,Démographie et développement,0.195298,25.0,0.048824,62.312147
29,Niger,2015,Démographie et développement,0.281020,25.0,0.070255,65.611202
30,Sénégal,2015,Démographie et développement,-0.011901,25.0,-0.002975,54.337946
31,Togo,2015,Démographie et développement,-0.261619,25.0,-0.065405,44.727385

In [96]:
# pour fais la somme des dimensions normaliser 
df_final = df_final.groupby(["PAYS", "ANNEE"])["score_normalise"].sum().reset_index()
df_final

            PAYS  ANNEE  score_normalise
0   Burkina Faso   2015       266.131123
1          Bénin   2015       186.611021
2  Côte d'Ivoire   2015       289.116865
3  Guinée-Bissau   2015       124.859694
4           Mali   2015       217.419587
5          Niger   2015       156.364285
6        Sénégal   2015       277.893266
7           Togo   2015       235.075419

In [97]:
# Division par 4 dimensions
df_final["Score_Global"] = df_final["score_normalise"] / 4
# AFFICHAGE DU RÉSULTAT
df_final.head(20)

            PAYS  ANNEE  score_normalise  Score_Global
0   Burkina Faso   2015       266.131123     66.532781
1          Bénin   2015       186.611021     46.652755
2  Côte d'Ivoire   2015       289.116865     72.279216
3  Guinée-Bissau   2015       124.859694     31.214924
4           Mali   2015       217.419587     54.354897
5          Niger   2015       156.364285     39.091071
6        Sénégal   2015       277.893266     69.473317
7           Togo   2015       235.075419     58.768855

In [98]:
def attribuer_notation(score):
    if 75 <= score <= 100:
        return "AAA", "Excellente qualité, risque minimal"
    elif 50 <= score < 75:
        return "AA-", "Haute qualité, risque faible"
    elif 25 <= score < 50:
        return "B+", "Hautement spéculatif, risque élevé"
    elif 0 <= score < 25:
        return "D", "Défaut avéré"
    else:
        return None, "Score invalide"

In [99]:
df_final[['Notation', 'Signification']] = df_final['Score_Global'].apply(
    lambda x: pd.Series(attribuer_notation(x))
)

In [100]:
# AFFICHAGE DES RÉSULTATS FINAUX
print("\nRÉSULTATS FINAUX PAR PAYS")
df_final.head(20)

RÉSULTATS FINAUX PAR PAYS

,PAYS,ANNEE,score_normalise,Score_Global,Notation,Signification
0,Burkina Faso,2015,266.131123,66.532781,AA-,"Haute qualité, risque faible"
1,Bénin,2015,186.611021,46.652755,B+,"Hautement spéculatif, risque élevé"
2,Côte d'Ivoire,2015,289.116865,72.279216,AA-,"Haute qualité, risque faible"
3,Guinée-Bissau,2015,124.859694,31.214924,B+,"Hautement spéculatif, risque élevé"
4,Mali,2015,217.419587,54.354897,AA-,"Haute qualité, risque faible"
5,Niger,2015,156.364285,39.091071,B+,"Hautement spéculatif, risque élevé"
6,Sénégal,2015,277.893266,69.473317,AA-,"Haute qualité, risque faible"
7,Togo,2015,235.075419,58.768855,AA-,"Haute qualité, risque faible"